#containerScreenC  #ScreenC #searchMenu{
	position: fixed;
	margin-left: 3px;
	width: 285px;
	height: 30px;

	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: space-around;
	align-items:  center;

	overflow: hidden;
	border-radius: 20px;
	border: 1px solid white;

}

#containerScreenC  #ScreenC #searchMenu > button{
	height: 30px;
	color: white;
	cursor: pointer;
	transition:  ease-in-out .2s;
	background-color: rgba(34, 34, 34, 0.534);
	border: none;
}

#containerScreenC  #ScreenC #searchMenu > button:hover{
	background-color: rgba(255, 255, 255, 0.9);
	color: rgba(208, 21, 52,1);
}

#containerScreenC  #ScreenC #screenCOrder{
	flex-grow: 1;
}

#containerScreenC  #ScreenC #screenCType{
	flex-grow: 2;
	height: 40px !important
}

#containerScreenC  #ScreenC #screenCAttack{
	flex-grow: 1;
}